<h1><%="#{@park.name}"%> Trails!</h1>
    <ol>
        <% @trails.each do |trail| %>
            <li>
                <h2>Trail name: <%= trail.name %></h2>
                <h3>Paved?: <%= trail.paved %></h3>
                <h3>Total length in miles: <%= trail.total_length %></h3>
            </li>
        <%end%>
    </ol>
    <p><%= link_to "Add trail to #{@park.name}!", "/asheville_parks/#{@park.id}/trails/new" %></p>