<h1><%= "Add a trail to #{@asheville_park.name}!" %></h1>
<%= form_with url: "/asheville_parks/#{@asheville_park.id}/trails" do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :paved %>
  <%= form.check_box :paved %>
  <%= form.label :total_length_in_miles %>
  <%= form.text_field :total_length_in_miles %>
 
  <%= form.submit "Create new trail in #{@asheville_park.name}!" %>
<% end %>