<h1>All of the Asheville Park Trails!</h1>
<%= link_to "Show all trails!", '/trails' %>
<%= link_to "Show only paved trails!", '/trails?paved=true' %>
<ol>
    <% @trails.each do |trail| %>
        <li id="trail-<%= trail.id %>">
            <h2>Trail name: <%= trail.name %></h2>
            <h3>Paved?: <%= trail.paved %></h3>
            <h3>Total length in miles: <%= trail.total_length %></h3>
            <h3>In this park: <%= trail.asheville_park.name %></h3>
        </li>
    <%end%>
</ol>