<h1>Update an Asheville Park!</h1>
<%= form_with model: @asheville_park do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :fee %>
  <%= form.text_field :fee %>
  <%= form.label :pets_allowed %>
  <%= form.check_box :pets_allowed %>
  <%= form.submit "Update #{@asheville_park.name}" %>
<% end %>