<h1>Asheville Parks!</h1>
<ol>
    <% @asheville_parks.each do |asheville_park| %>
        <li>
            <h3>Park name: <%= asheville_park.name %></h3>
            <h3>Time created: <%= asheville_park.created_at %></h3>
            <h3><%=link_to "Edit #{asheville_park.name}", "/asheville_parks/#{asheville_park.id}/edit"%></h3>
            <h3><%=link_to "Delete #{asheville_park.name}", "/asheville_parks/#{asheville_park.id}", method: :delete %></h3>
        </li>
    <%end%>
</ol>
<p><%= link_to "Add an Asheville park!", "/asheville_parks/new" %></p>