<!DOCTYPE html>
<html>
  <head>
    <title>ParkTrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= link_to 'Show me all the trails!', "/trails" %>
  <%= link_to 'Show me all Asheville Parks!', "/asheville_parks" %>
    <%= yield %>
  </body>
</html>
